{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 30, "knowledge_revision": 113, "git_revision": "202b40425f1cffafd1c6afe28ee6ed1a992fc373", "hash": "7d752446ae7dec6dd9f296ea0b3afa90", "format-version": 4, "code-base-name": "default", "filename": "voice_monitor_backend_workspace/voice_monitor_backend/requirements.txt", "revision_history": [{"113": "202b40425f1cffafd1c6afe28ee6ed1a992fc373"}]}