{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 60, "git_revision": "6e62566540e8269ec4813919b0a44c213e698ed8", "hash": "f3fb78eb69a75a946866f186685b6483", "format-version": 4, "code-base-name": "default", "filename": "voice_monitor_backend_workspace/voice_monitor_backend/requirements.txt", "revision_history": [{"60": "6e62566540e8269ec4813919b0a44c213e698ed8"}]}