{"is_source_file": false, "format": null, "description": null, "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 26, "knowledge_revision": 83, "git_revision": "56eddaef492d29c7e4a674ac7642eb38bf5ba2ab", "hash": "8866a749f716eaaf9787555de2b55072", "format-version": 4, "code-base-name": "default", "filename": "voice_monitor_backend_workspace/voice_monitor_backend/requirements.txt", "revision_history": [{"83": "56eddaef492d29c7e4a674ac7642eb38bf5ba2ab"}]}